

body { 
    /* The image used */
     align-content: center;
    color:orange;
    background-image: url("http://ngm.nationalgeographic.com/wallpaper/img/2013/08/14-hildur-vumbi-lioness-post-mating-infrared_1600.jpg");

   

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

h2, h3 {
	color: orange;
	  align-content: center;
}

